
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Question 1</h3>
            <p>The page layout has a nice big area for the header and main content with <mark>three columns</mark> for additional content.</p>
            <p class="text-info">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Question 2</h3>
            <p>When you get below the sm size to the xs small size the three columns all become rows.</p>
            <p class="text-muted">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Bootstrap column widths give you the ability to create more dynamic tables. Tables in html don't size well to smaller screens.</p>
            <p>Bootstrap columns have 12 columns per row and you can specify xs for phones, <span class="text-danger">sm for tablets,</span> md for desktops, and lg for larger desktops.</p>
        </div>
    </div>
</div>
